
#user  nobody;
worker_processes  1;

#error_log  D:/logs/nginx/error.log;
#error_log  D:/logs/nginx/error.log  notice;
#error_log  D:/logs/nginx/error.log  info;

#pid        D:/logs/nginx/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  D:\access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    server_names_hash_bucket_size 64;

    server {
        listen       80;
	    server_name  uat.wind.cma-cgm.com;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;


        #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})") {
                #set $year $1;
                #set $month $2;
                #set $day $3;
        #}
        #access_log D:/logs/nginx/prd-api/$year-$month-$day-access.log;
        #error_log  D:/logs/nginx/prd-api/$year-$month-$day-error.log  error;

       	location / {
            root   html;
            index  index.html index.htm;
        }

        error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        #error_page   500 502 503 504  /50x.html;
        #location = /50x.html {
            #root   html;
        #}

        # proxy the PHP scripts to Apache listening on 127.0.0.1:80
        #
        #location ~ \.php$ {
        #    proxy_pass   http://127.0.0.1;
        #}

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        #location ~ \.php$ {
        #    root           html;
        #    fastcgi_pass   127.0.0.1:9000;
        #    fastcgi_index  index.php;
        #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
        #    include        fastcgi_params;
        #}

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        #location ~ /\.ht {
        #    deny  all;
        #}
    }


    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    # PRD-API
    server {
        listen       443 ssl;
        server_name  wind.cma-cgm.com;

        access_log D:/logs/nginx/prd-api-access.log;
        error_log  D:/logs/nginx/prd-api-error.log  error;

        ssl_certificate      cert.crt;
        ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

        location / {
            root   html;
            index  index.html index.htm;
        }
    }

    # HTTPS server
    # PRD-API
    server {
        listen       443 ssl;
        server_name  wind-admin.cma-cgm.com;

        access_log D:/logs/nginx/prd-admin-access.log;
        error_log  D:/logs/nginx/prd-admin-error.log  error;

        ssl_certificate      cert.crt;
        ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

        location / {
            root   html;
            index  index.html index.htm;
        }
    }


    # HTTPS server
    # UAT-API
    server {
        listen       443 ssl;
        server_name  uat.wind.cma-cgm.com;

        access_log D:/logs/nginx/uat-api-access.log;
        error_log  D:/logs/nginx/uat-api-error.log  error;

        ssl_certificate      cert.crt;
        ssl_certificate_key  cert.key;

        location / {
              sendfile off;
              proxy_pass http://10.7.11.90:38090;
              proxy_redirect     default;
              proxy_http_version 1.1;

              proxy_set_header   Host              $host;
              proxy_set_header   X-Real-IP         $remote_addr;
              proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
              proxy_set_header   X-Forwarded-Proto $scheme;
              proxy_max_temp_file_size 0;

              #this is the maximum upload size
              client_max_body_size       10m;
              client_body_buffer_size    128k;

              proxy_connect_timeout      90;
              proxy_send_timeout         90;
              proxy_read_timeout         90;
              proxy_buffering            off;
              proxy_request_buffering    off; # Required for HTTP CLI commands
              proxy_set_header Connection ""; # Clear for keepalive
        }

        location /api/offiaccount {
              sendfile off;
              proxy_pass http://10.7.11.90:28090/api/offiaccount;
              proxy_redirect     default;
              proxy_http_version 1.1;

              proxy_set_header   Host              $host;
              proxy_set_header   X-Real-IP         $remote_addr;
              proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
              proxy_set_header   X-Forwarded-Proto $scheme;
              proxy_max_temp_file_size 0;

              #this is the maximum upload size
              client_max_body_size       10m;
              client_body_buffer_size    128k;

              proxy_connect_timeout      90;
              proxy_send_timeout         90;
              proxy_read_timeout         90;
              proxy_buffering            off;
              proxy_request_buffering    off; # Required for HTTP CLI commands
              proxy_set_header Connection ""; # Clear for keepalive
        }

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;
    }


    # HTTPS server
    # UAT-ADMIN
    server {
        listen       443 ssl;
        server_name  uat.wind-admin.cma-cgm.com;

        access_log D:/logs/nginx/uat-admin-access.log;
        error_log  D:/logs/nginx/uat-admin-error.log  error;

        ssl_certificate      cert.crt;
        ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

        location /api/admin {
              sendfile off;
              proxy_pass http://10.7.11.90:18090/api/admin;
              proxy_redirect     default;
              proxy_http_version 1.1;

              proxy_set_header   Host              $host;
              proxy_set_header   X-Real-IP         $remote_addr;
              proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
              proxy_set_header   X-Forwarded-Proto $scheme;
              proxy_max_temp_file_size 0;

              #this is the maximum upload size
              client_max_body_size       10m;
              client_body_buffer_size    128k;

              proxy_connect_timeout      90;
              proxy_send_timeout         90;
              proxy_read_timeout         90;
              proxy_buffering            off;
              proxy_request_buffering    off; # Required for HTTP CLI commands
              proxy_set_header Connection ""; # Clear for keepalive
        }
    }
}
